/* home.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e2d;
    /* Fundo escuro */
    color: white;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #8A2BE2;
    /* Roxo Nubank */
    padding: 16px;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: opacity 0.3s;
}

.navbar a:hover {
    opacity: 0.7;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    padding: 20px;
}

.card {
    background-color: #2d2d3a;
    /* Cartões com fundo mais escuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.6rem;
    color: #8A2BE2;
}

.card p {
    font-size: 1rem;
    color: #ccc;
}

.btn-action {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #8A2BE2;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-action:hover {
    background-color: #5d1fa3;
    transform: translateY(-3px);
}

/* Adicionando animação de fade-in para o conteúdo */
.main-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}