.transaction-container ul {
    list-style-type: none;
    padding: 0;
}

.transaction-container li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.transaction-container li strong {
    font-size: 1.2em;
}